*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body{
    margin: 0;
}

h1{
    font-size: 2.5rem;
    text-align:center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}
a{
    color: rgb(97, 6, 6);
    font-size: 1.2rem;
    text-decoration: none;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: dotted 6px rgb(245, 236, 236);
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

/* for mobile  */
[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color:rgb(2, 59, 2);
    padding: 2% 7%;
    text-align: center;
}

.navbar h1{
    padding-top: 10px;
}

.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.navbar-menu a{
    border-radius: 10px;
    margin: 7px 0px;
    padding: 10px;
}

.navbar-menu a:hover{
    background-color: rgb(240, 249, 246);
}

.navbar::after{
    content: '';
    display: table;
    clear: both;
}
.profile{
    padding: 130px 15px;
    position: relative;
    text-align: center;
}

.profile .top-book-icon{
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;
}

.profile .top-book-icon:hover{
    transform: rotate(360deg);
}

.profile-desc h1{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}

.profile-desc p{
    color: rgb(85, 79, 79);
    margin: 0 auto 20px auto;
    text-align: center;
    width: 90%;
}


.profile .bottom-book-icon{
    position: absolute;
    left: 60px;
    bottom: 10px;
    transition: transform 2s;
}

.profile .bottom-book-icon:hover{
    transform: rotate(360deg);
}

.profile::after{
    content: '';
    display: table;
    clear: both;
}

.about-me{
    background-color: #038a3957;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutme-image img{
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}

.about-me p{
    text-align: center;
}

.about-me a{
    font-size: 1.2rem;
}

.cv-button{
    background-color: #052d2f;
    color: white;
    border:none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}



.about-me::after{
    clear: both;
    display: table;
    content: '';
}

.professional-experience{
    padding: 1% 0%;
}

.professional-experience .card{
    background-color: #9ea3a0;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
    height: 700px; 
}

.card:hover{
    box-shadow: 0 4px 8px 5px black;
}

.card-icon{
    text-align: center;
}

.card-icon img{
    margin-top: 20px;
    width: 100px;
}

.rounded-img{
    border: 5px solid white;
    border-radius: 50%;
    padding: 15px;
}

.card-title h2{
    background-color: #616161;
    color: white;
    padding: 10px;
    text-align:center;
}


.professional-experience::after{
    clear: both;
    display: table;
    content: '';
 }

 .achievemnet-contact{
     padding: 1% 7%;
     background-color: #39a4ac;
     color: white;
 }
 
 .contact{
     text-align: right;
 }
 
 .contact input, textarea{
     width: 100%;
     padding: 10px;
     font-size: 1rem;
     text-align: left;
     border: none;
     border-radius: 5px;
     resize: none;
 }
 
 .contact button{
     border: none;
     border-radius: 12px;
     background-color: #05052f;
     color: white;
     cursor: pointer;
     padding: 15px;
     margin: 10px;
     width: 100px;
 }
 
 
 .contact-links{
     text-align: center;
 }
 
 .media-buttons .btn{
     border: none;
     border-radius: 25px;
     cursor: pointer;
     font-size: 32px;
     padding: 5px;
     margin: 10px;
     width: 50px;
     background-color: white;
 }
 .btn:hover{
     background-color: gray;
 }
 
 .achievemnet-contact::after{
     clear: both;
     display: table;
     content: '';
  }
 
 
 
 
 

 
 
 